{
  "presets": [
    [
      "env", {
        "browsers": ["last 2 versions", "IE > 10", "safari > 6"],
        "test": {
          "presets": ["es2015", "react", "stage-0"]
        }
      }
    ],
    "react",
    "airbnb",
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
